# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml
.idea/
*.DS_Store

# NodeJS
node_modules/

# Do not commit Certificates
ssl/

# Do not commit config
config.json

# Do not commit offline data for dev/test
offlinedata/