/*
    Colour Palette
    Red:            #B9121B     185,18,27
    Dark Red:       #4C1B1B     76,27,27
    Light Brown:    #F6E497     246,228,151
    Cream:          #FCFAE1     252,250,225
    Dark Brown:     #BD8D46     189,141,70
*/

h2 {
    color: rgb(76,27,27);
}

h3 {
    color: rgba(76,27,27,0.8);
}

.standupCompanion {
    height: 768px;
    width: 1024px;
}

.row--header {
    height: 15%;
}

.row--body {
    height: 70%;
}

.row--footer {
    height: 15%;
}

.header__epic,
.header__statusIndicator,
.header__timer,
.body__ticketNav,
.body__currentTicket,
.body__people,
.footer__standupControls,
.footer__endStandup {
    height: 100%;
}

.currentTicket__info {
    height: 80%;
}

.header__statusIndicator{
    background-image: url("../img/standup_stopped.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
.header__statusIndicator.playingTimer {
    background-image: url("../img/standup_running.gif");
}

.body__ticketNav,
.footer__standupControls,
.footer__endStandup {
    text-align: center;
    font-size: xx-large;
}

.body__ticketNav,
.footer__standupControls {
    background-color: rgba(189,141,70,0.8);
    border: 5px solid #B9121B;
}

.footer__endStandup {
    background-color: rgba(185,18,25,0.8);
    border: 5px solid rgba(189,141,70,0.8);
}

.body__currentTicket {
    background-color: #FCFAE1;
    border-top: 5px solid rgba(246,228,151,0.5);
}

.outerPanel {
    background-color: #F6E497;
}

.body__ticketNav:active,
.footer__standupControls:active {
    background-color: rgba(189,141,70,1);
}

.footer__endStandup:active {
    background-color: rgba(185,18,25,1);
}

.body__ticketNav .buttonIcon {
     margin-top: 550%;
}

.footer__standupControls .buttonIcon,
.footer__endStandup .buttonIcon {
    margin-top: 17%;
}

.buttonIcon {
    color: #4C1B1B;
}

.body__ticketNav {
    border-bottom: none;
}

.standupControls--playPause,
.standupControls--stop {
    border-right: none;
}