div[class^='col-xs-']{
    outline: 2px solid #000;
}

.btn {
    height: 100%;
}

.standupCompanion {
    height: 768px;
}

.row--top {
    height: 20%;
}

.row--bottom {
    height: 80%;
}

.body--top {
    height: 90%;
}

.body--bottom {
    height: 10%;
}

.standupCompanion__info,
.standupCompanion__header,
.standupCompanion__timer,
.header__epic,
.header__timeInfo,
.header__inProgress,
.header__avatars,
.standupCompanion__body,
.ticketNav,
.standupCompanion__currentTicket,
.standupControls,
.standupCompanion__info {
    height: 100%;
}

.header--top,
.header--bottom {
    height: 50%;
}

.ticketNav, .standupControls {
    text-align: center;
    font-size: xx-large;
}

.ticketNav .buttonIcon {
     margin-top: 250%;
}

.standupControls .buttonIcon {
    margin-top: 9%;
}