.top-row {
    height: 150px;
}

.middle-row {
    height: 450px;
}

.bottom-row {
    height: 150px;
}

.col-xs-3  {
    outline: 2px solid #000;
}

.col-xs-6  {
    outline: 2px solid #000;
}

.btn {
    height: 100%;
    width: 100%;
}